@model WebPorfolioGenerator.Models.Post
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Post</h4>
    <hr />
    <div class="row">
        <div class="form-group col-md-12 R">
            @Html.DisplayNameFor(model => model.CreationDate) - @Html.DisplayFor(model => model.CreationDate)
        </div>
        <div class="form-group col-md-12 R">
            @Html.DisplayNameFor(model => model.ModificationDate) - @Html.DisplayFor(model => model.ModificationDate)
        </div>

        <div class="form-group col-md-12">
            <h1> @Html.DisplayFor(model => model.Title)</h1>
        </div>
        <div class="form-group col-md-12">
            <h2>  @Html.DisplayFor(model => model.Subtitle)</h2>
        </div>
        <div class="form-group col-md-12">
            @Html.DisplayFor(model => model.Body)
        </div>


    </div>
    <div class="row buttonContainer">
        <div class="col-md-12 R">
            <a class="linkButton" asp-action="Index">Back to List</a>
            <a class="linkButton" asp-action="Edit" asp-route-id="@Model.PostId">Edit</a>             
        </div>
    </div>
</div>
