@model IEnumerable<WebPorfolioGenerator.Models.Post>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Creation date
            </th>
            <th>
                Post title
            </th>
            <th>
                Modification date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModificationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PostId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PostId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="row buttonContainer">
    <div class="col-md-4">
        <a class="linkButton" asp-action="Create" asp-route-id="">Create New</a>
    </div>
</div>

