@model IEnumerable<WebPorfolioGenerator.Models.Post>
@{
    Layout = null;
}

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" />
<link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="~/toopay-bootstrap-markdown/css/bootstrap-markdown.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: @ViewBag.FirstColor">
    <ul class="nav navbar-nav">
        <li><a style="color: @ViewBag.SecondColor;" asp-controller="Portfolios" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Home</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Posts" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Blog</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Abouts" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">About</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Locations" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Location</a></li>
    </ul>
</div>
<div class="container" style="font-family: @ViewBag.FontName; font-style: @ViewBag.FontStyle;">

    @if (Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="post">
                <div class="col-md-offset-2 col-md-10" style="color: @ViewBag.FirstColor;">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                </div>
                <div class="col-md-offset-2 col-md-10" style="color: @ViewBag.SecondColor;">
                    <h4>@Html.DisplayFor(modelItem => item.Subtitle)</h4>
                </div>
                <div class="col-md-offset-2 col-md-8 col-md-offset-2 R">
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                <div class="col-md-offset-2 col-md-8 col-md-offset-2">
                    @Html.Raw(new HeyRed.MarkdownSharp.Markdown().Transform(item.Body))
                </div>
            </div>
        }
    }
    else
    {
        <div class="post">
            <div class="col-md-offset-2 col-md-10 C" style="color: @ViewBag.FirstColor;">
                <h3>NO POST</h3>
            </div>
        </div>
    }
</div>