@model WebPorfolioGenerator.Models.About

@{
    Layout = null;
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet/less" type="text/css" href="~/css/Login.css" />
    <link rel="stylesheet/less" type="text/css" href="~/css/Portfolio.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
</environment>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @Html.DisplayFor(model => model.Title)
        </div>
        <div class="col-sm-12">
            @Html.DisplayFor(model => model.Body)
        </div>
        <div class="col-sm-4 R">
            <a href=" @Html.DisplayFor(model => model.Twitter)"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-4 C">
            <a href="@Html.DisplayFor(model => model.Instagram)"><i class="fa fa-instagram fa-4x" aria-hidden="true"></i></a>
        </div>
        <div class="col-sm-4 L">
            <a href="@Html.DisplayFor(model => model.Facebook)"><i class="fa fa-facebook-square  fa-4x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
