@model WebPorfolioGenerator.Models.User
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>User</h4>
<hr />
<div class="wrapper">
    <div class="container">

        <div class="row">
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.UserName)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.UserName)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.Name)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Surname)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.Surname)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.RolId)
            </div>
            <div class="col-md-6">
                <label> @Html.DisplayFor(model => model.RolId)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.Email)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Birth)
            </div>
            <div class="col-md-6">
                <label> @Html.DisplayFor(model => model.Birth)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.MovilePhone)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.MovilePhone)</label>
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Phone)
            </div>
            <div class="col-md-6">
                <label>@Html.DisplayFor(model => model.Phone)</label>
            </div>
        </div>
    </div>
</div>
<div class="row buttonContainer">
    <div class="col-md-12 R">
        <a class="linkButton" asp-action="Index">Back to List</a>
        <a class="linkButton" asp-action="Edit" asp-route-id="@Model.UserId">Edit</a>
        <a class="linkButton" asp-controller="Portfolios" asp-action="Index" asp-route-id="@ViewContext.RouteData.Values["id"]">Create portfolio</a>
    </div>
</div>
