@model WebPorfolioGenerator.Models.Portfolio
@{
    ViewData["Title"] = "Delete";
}
<h2>Delete</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <div class="container">
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PortfolioName)
        </div>
        <div class="col-md-6">
            <label>@Html.DisplayFor(model => model.PortfolioName)</label>
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PortfolioSurname)
        </div>
        <div class="col-md-6">
            <label>@Html.DisplayFor(model => model.PortfolioSurname)</label>
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.FirstColor)
        </div>
        <div class="col-md-6">
            <label>@Html.DisplayFor(model => model.FirstColor)</label>
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.SecondColor)
        </div>
        <div class="col-md-6">
            <label>@Html.DisplayFor(model => model.SecondColor)</label>
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.FontId)
        </div>
        <div class="col-md-6">
            <label> @Html.DisplayFor(model => model.FontId)</label>
        </div>
    </div>
    <div class="row buttonContainer">
        <div class="col-md-12 R">
            <form asp-action="Delete">
                <a class="linkButton" asp-action="Index">Back to List</a>
                <input type="hidden" asp-for="PortfolioId" />
                <input class="linkButton" type="submit" value="Delete" class="btn btn-default" />
            </form>
        </div>
    </div>

</div>
