@model WebPorfolioGenerator.Models.Portfolio
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Portfolio</h4>
    <hr />
    <div class="container">
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PortfolioName)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PortfolioName)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PortfolioSurname)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PortfolioSurname)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.FirstColor)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.FirstColor)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.SecondColor)
        </div>
        <div class="col-md-6 ">
            @Html.DisplayFor(model => model.SecondColor)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.FontId)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.FontId)
        </div>
    </div>
</div>
<div class="row buttonContainer">
    <div class="col-md-3">
        <a class="linkButton" asp-action="Edit" asp-route-id="@Model.PortfolioId">Edit</a>
    </div>
    <div class="col-md-3">
        <a class="linkButton" asp-controller="MenuItems" asp-action="Index" asp-route-id="@Model.PortfolioId">Menu</a>
    </div>
    <div class="col-md-3">
        <a class="linkButton" asp-controller="Posts" asp-action="Index" asp-route-id="@Model.PortfolioId">Post</a>
    </div>
    <div class="col-md-3">
        <a class="linkButton" asp-action="Preview" asp-route-id="@Model.PortfolioId">Preview</a>
    </div>
</div>