@model WebPorfolioGenerator.Models.Portfolio
@{
    ViewData["Title"] = "Details";
    Layout = null;
}
<environment include="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet/less" type="text/css" href="~/css/Login.css" />
    <link rel="stylesheet/less" type="text/css" href="~/css/Portfolio.css" />
    <link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
</environment>
<div style="background-image: url(/images/backgrounds/@Model.ImageName)">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><a asp-controller="Portfolios" asp-action="Preview" asp-route-id="@Model.PortfolioId">Home</a></li>
            <li><a asp-controller="Posts" asp-action="Preview" asp-route-id="@Model.PortfolioId">Blog</a></li>
            <li><a asp-controller="Abouts" asp-action="Preview" asp-route-id="@Model.PortfolioId">About</a></li>
            <li><a a asp-controller="Locations" asp-action="Preview" asp-route-id="@Model.PortfolioId">Contact</a></li>
        </ul>
    </div>

    <div id="titleBlog">
        <h1>@Html.DisplayFor(model => model.PortfolioName)</h1>
        <h2>@Html.DisplayFor(model => model.PortfolioSurname)</h2>
    </div>
    <div class="">

    </div>

    <input id="firstColor" hidden value="@Html.DisplayFor(model => model.FirstColor)" />
    <input id="secondColor" hidden value="@Html.DisplayFor(model => model.SecondColor)" />
    <input id="font" hidden value="@Html.DisplayFor(model => model.FontId)" />

</div>

