@model IEnumerable<WebPorfolioGenerator.Models.MenuItem>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuOrder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Url)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MenuItemId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.MenuItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h2>Create</h2>
<h4>MenuItem</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-2">
                    <label class="control-label">Order</label>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Name</label>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label"></label>
                </div>
            </div>
            <div id="menuElement" class="row">
                @*<div class="form-group col-md-2">
                        <input asp-for="MenuOrder" class="form-control" />
                        <span asp-validation-for="MenuOrder" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="MenuName" class="form-control" />
                        <span asp-validation-for="MenuName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="Url" class="form-control" />
                        <span asp-validation-for="Url" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-2">
                        <a><i class="fa fa-times fa-3x" aria-hidden="true"></i></a>
                    </div>*@
            </div>
            <div class="row">
                <div class="form-group col-md-3">
                    <input id="newItemMenu" value="New item" class="btn btn-default" />
                </div>
                <div class="form-group col-md-3">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>