@model WebPorfolioGenerator.Models.Location
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Location</h4>
    <hr />
    <div class="row">
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.Street)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Street)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.Latitude)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Latitude)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.Longitude)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.Longitude)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PostalCode)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PostalCode)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="col-md-6 ">
            @Html.DisplayFor(model => model.Email)
        </div>
        <div class="col-md-6 R">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </div>
        <div class="col-md-6">
            @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
</div>
<div class="row buttonContainer">
    <div class="col-md-12 R">
        <a class="linkButton" asp-action="Edit" asp-route-id="@Model.IdLocation">Edit</a>
        <a class="linkButton" asp-action="Index">Back to List</a>
    </div>
</div>