@model IEnumerable<WebPorfolioGenerator.Models.Location>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<h3>Location</h3>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Street)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.Street)
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.PostalCode)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.PostalCode)
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Latitude)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.Latitude)
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Longitude)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.Longitude)
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.Email)
            </div>
            <div class="col-md-6 R">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </div>
            <div class="col-md-6">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </div>

        </div>
        <div class="row buttonContainer R">
            <a class="linkButton" asp-action="Details" asp-controller="Portfolios" asp-route-id="@item.PortfolioId">Back to List</a>
            <a class="linkButton" asp-action="Edit" asp-route-id="@item.IdLocation">Edit</a> 
            <a class="linkButton" asp-action="Details" asp-route-id="@item.IdLocation">Details</a> 
            <a class="linkButton" asp-action="Delete" asp-route-id="@item.IdLocation">Delete</a>
        </div>
    }
</div>
</table>
<div class="row buttonContainer">
    <div class="col-md-12 R">
        @if (Model.Count() <= 0)
        {
            <a class="linkButton" asp-action="Create" asp-route-id="1">Create New</a>
        }
    </div>
</div>