@model WebPorfolioGenerator.Models.Location
@{
    ViewData["Title"] = "Details";
    Layout = null;
}

<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
<link rel="stylesheet" href="~/css/site.min.css" />
<link rel="stylesheet" href="~/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="~/toopay-bootstrap-markdown/css/bootstrap-markdown.min.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="@ViewBag.Link" rel="stylesheet">

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color: @ViewBag.FirstColor; font-family: @ViewBag.FontName; font-style: @ViewBag.FontStyle;">
    <ul class="nav navbar-nav">
        <li><a style="color: @ViewBag.SecondColor;" asp-controller="Portfolios" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Home</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Posts" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Blog</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Abouts" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">About</a></li>
        <li><a style="color: @ViewBag.SecondColor" asp-controller="Locations" asp-action="Preview" asp-route-id="@ViewContext.RouteData.Values["id"]">Location</a></li>
    </ul>
</div>
<div class="container" style="font-family: @ViewBag.FontName; font-style: @ViewBag.FontStyle;">
    <div class="row">
        <div class="col-md-12 C">
            <h1 style="color: @ViewBag.FirstColor;">Location</h1>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12 C">
            @Html.DisplayFor(model => model.Street)  -  @Html.DisplayFor(model => model.PostalCode)
        </div>
        <div class="col-md-12 C">
            @Html.DisplayFor(model => model.Latitude)  -  @Html.DisplayFor(model => model.Longitude)
        </div>
        <div class="col-md-12 C" style="color: @ViewBag.SecondColor;">
            @Html.DisplayFor(model => model.Email)  -  @Html.DisplayFor(model => model.PhoneNumber)
        </div>
    </div>
</div>
